html, body{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
}

img{
  border: none;
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

ul{
  margin: 0;
  li{
    list-style-type: none;
  }
}

/* color var start */
$blue: #409EFC;
$statusNormal: #92C661;
$statusAbnormal: #E6594D;
$red: #f56c6c;
$orange: #ff9800;
/* color var end */
